.trabajadores-container{
    padding:30px;
}

.tabla-container{
    padding:20px;
    border-radius:10px;
    animation: fadeUp .18s ease-out;
    will-change: transform, opacity;
}

.tabla-trabajadores{
    width:100%;
    border-collapse:collapse;
    background:white;
    border-radius:10px;
    overflow:hidden;
    box-shadow:0 5px 15px rgba(0,0,0,0.1);
}

.tabla-trabajadores th{
    background:#222;
    color:white;
    padding:14px;
    text-align:left;
    font-size:14px;
}
.filtros{
    display:flex;
    gap:15px;
    margin:20px 0;
    flex-wrap:wrap;
}

.filtros input,
.filtros select{
    padding:10px;
    border:1px solid #ccc;
    border-radius:6px;
    outline:none;
}

.buscar_trabajador:focus {
    transition: .25s ease;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.buscar_trabajador:hover {
    transform: translateY(-2px);
    transition: .25s ease;
}

.date:focus {
    transition: .25s ease;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.date:hover {
    transform: translateY(-2px);
    transition: .25s ease;
}
.tabla-trabajadores td{
    padding:14px;
    border-bottom:1px solid #eee;
    font-size:14px;
}

.tabla-trabajadores tr:hover{
    background:#f8f9fa;
}

/* Estado */

.activo{
    color:#28a745;
    font-weight:bold;
}

.inactivo{
    color:#dc3545;
    font-weight:bold;
}

/* Botones */

.btn{
    padding:6px 12px;
    border:none;
    border-radius:6px;
    cursor:pointer;
    font-size:13px;
    margin-right:6px;
    transition:0.2s;
}

.editar{
    background:#007bff;
    color:white;
}

.eliminar{
    background:#dc3545;
    color:white;
}

.btn:hover{
    opacity:0.9;
}

@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(25px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}