body{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    display:flex;
    background:#f4f4f4;
}

.tabla-container{
    padding:20px;

    animation: fadeUp .18s ease-out;
    will-change: transform, opacity;
}

.sidebar a{
    transition: background 0.2s ease;
}


/* SIDEBAR */
.sidebar{
    width:220px;
    height:100vh;
    background:#111;
    color:white;
    padding:20px;
}

.sidebar h2{
    text-align:center;
    margin-bottom:30px;
}

.sidebar ul{
    list-style:none;
    padding:0;
}

.sidebar li{
    margin:15px 0;
}


.sidebar a:hover{
    background:#333;
}

/* CONTENIDO */

.content{
    flex:1;
    padding:30px;
}

/* TABLA */

.tabla{
    width:100%;
    border-collapse:collapse;
    background:white;
    border-radius:10px;
    overflow:hidden;
    box-shadow:0 5px 15px rgba(0,0,0,0.1);
}

.tabla th{
    background:#222;
    color:white;
    padding:12px;
    text-align:left;
}

.tabla td{
    padding:12px;
    border-bottom:1px solid #eee;
}

.tabla tr:hover{
    background:#f9f9f9;
}

/* BOTONES */

.btn{
    padding:6px 10px;
    border:none;
    border-radius:5px;
    cursor:pointer;
    margin-right:5px;
}

.editar{
    background:#007bff;
    color:white;
}

.eliminar{
    background:#dc3545;
    color:white;
}

@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(25px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}