<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="static/css/login.css">
</head>

<body>

<div class="login-container">
    <form class="login-form" onsubmit="login(event)">
        <h2>Iniciar Sesión</h2>

        <div class="input-group">
            <label>Correo</label>
            <input id="correo" type="email" placeholder="correo@email.com">
        </div>

        <div class="input-group">
            <label>Contraseña</label>
            <input id="password" type="password" placeholder="********">
        </div>

        <button>Entrar</button>
        <a href="/registrarse">Registrarse</a>
    </form>

</div>

<script src="/static/src/login.js"></script>
</body>
</html>