<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="static/css/login.css">
</head>

<body>

    <form class="login-card" onsubmit="login(event)">
        <img src="/static/img/logo.jpeg" alt="">
        <h2>Iniciar sesion</h2>
        
        <div class="field">
            <input id="correo" type="email" required>
            <label>Email</label>
        </div>
        
        <div class="field">
            <input type="password" required id="password" >
            <label>Contraseña</label>
        </div>
        
        <div class="acciones">
            <button class="btn-login">Entrar</button>
            <a href="/registrarse" class="btn-register">Registrarse</a>
        </div>
    </form>
    

<script src="/static/src/login.js"></script>
</body>
</html>