<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="static/css/registro.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<body>

<form class="login-card" onsubmit="registrarse(event)">
    <img src="/static/img/logo.jpeg" alt="">
    <h2>Registrarse</h2>
    
        <div class="field">
            <input id="nombre" type="name" required>
            <label>Nombre</label>
        </div>
    
        <div class="field">
            <input id="correo" type="email" required>
            <label>Email</label>
        </div>
        

        <div class="field">
            <input type="password" required id="password" >
            <label>Contraseña</label>
        </div>

        <div class="field">    
            <select name="rol" id="rol" required>
                <option value="" disabled selected></option>
                <option value="1">Administrador</option>
                <option value="2">Trabajador</option>
            </select>
            <label>Selecciona tu rol</label>
                
            <span class="material-icons flecha">
                expand_more
            </span>
        </div>
        
        <div class="acciones">
            <button class="btn-login">Entrar</button>
            <a href="/" class="btn-register">Ya tienes cuenta? Inicia Sesion</a>
        </div>
</form>

<script src="/static/src/registro.js"></script>
</body>
</html>