.page_404{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#fff;
    font-family:'Arvo', serif;
}

.container{
    text-align:center;
}

.four_zero_four_bg{
    background-image:url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
    height:400px;
    width:600px;

    background-position:center;
    background-repeat:no-repeat;
    background-size:contain;
}

.four_zero_four_bg h1{
    font-size:80px;
}

.link_404{
    color:#fff;
    padding:10px 20px;
    background:#39ac31;
    display:inline-block;
    margin-top:20px;
    text-decoration:none;
}